// Font Families
// $font-primary: 'Inter', sans-serif;
// $font-heading: 'Cormorant Garamond', serif;

// $font-primary: 'Inter', sans-serif;
// $font-heading: 'Cormorant Garamond', serif;

  $font-primary: "Playfair Display", serif;
  $font-heading: 'Inter', sans-serif;


// Font Weights
$weight-light: 400;
$weight-regular: 600;
$weight-medium: 700;
$weight-semibold: 800;