$primary-color: #2f6b62;
$secondary-color: #89b8aa;
$accent-color: #d4a373;

$text-dark: #1f2937;
$text-light: #6b7280;

$background-light: #ccd4d1;
$white: #ffffff;

$border-radius: 16px;

$transition-default: 0.3s ease;