<section class="hero">
  <div class="container hero__wrapper">

    <div class="hero__content">

      <span class="hero__badge">
        Especialistas em Saúde & Bem-Estar
      </span>

     <div class="hero__title-wrapper">
  <h2 class="hero__title fade-text">
    {{ currentTitle }}
  </h2>
</div>

      <h1 class="hero__seo-title">
        Desenvolvimento de websites e presença digital
        para clínicas, terapeutas e profissionais de bem-estar
      </h1>

      <p class="hero__description">
        Criamos experiências digitais sofisticadas,
        acolhedoras e estratégicas para profissionais
        que desejam transmitir confiança e atrair pacientes ideais.
      </p>

      <div class="hero__buttons">
        <button class="btn-primary">
          Agendar Conversa
        </button>
      </div>

    </div>

    <div class="hero__image">
      <img
        src="assets/images/img-hero-3.png"
        alt="Profissional de saúde e bem-estar"
      />
    </div>

  </div>
</section>