@use '../abstracts/typography' as *;
@use '../abstracts/variables' as *;

body {
  font-family: $font-primary;
  color: $text-dark;
  line-height: 1.6;
  background-color: $white;

  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}