@use '../abstracts/typography' as *;
@use '../abstracts/variables' as *;

body {
  font-family: $font-primary;
  color: $text-dark;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-heading;
  font-weight: 500;
  line-height: 1.2;
  margin: 0;
}